.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0;
    flex-basis: auto;
}

.block--children {
    padding-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
}
.block--background {
    width: 100%;
    height: 1px;
    background: -moz-linear-gradient(left, #fff 15px, #000 15px, #000 calc(100% - 15px), #fff calc(100% - 15px)); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fff 15px, #000 15px, #000000 calc(100% - 15px), #ffffff calc(100% - 15px)); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fff 15px, #000 15px, #000000 calc(100% - 15px), #ffffff calc(100% - 15px)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.block--data-container {
    position: relative;
}

