.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0;
    flex-basis: auto;
}

.block--children {
    display: flex;
    flex-flow: row wrap;
}

.block--children-separator {
    position: relative;
    width: 100%;
    height: 1px;
}

.block--children-separator:before {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    content: '';
    border-top: 1px solid #000;    
}

.block--label-container {
    position: relative;
}

