.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0;
    flex-basis: auto;
}

.block--children {
    display: flex;
    flex-flow: row wrap;
}

.block--children-separator {
    position: relative;
    width: 100%;
    height: 1px;
}

.block--children-separator:before {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    content: '';
    border-top: 2px solid #bec1c3;
}

.block--label-container {
    position: relative;
}

.label.root {
    background-color: #4ba8f8;
    color: white;
    font-weight: 500;
}
