.editable-block {
    width: 100%;
    min-width: 180px;
    max-width: 270px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding-left: 4px;
    display: block;
    outline: none;
    border: 0;
}

.editable-block_hidden {
    display: none;
}
