.menu {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.menu--title {
    font-size: 20px;
    margin-bottom: 0;
}

.menu--label {
    padding: 10px 0;
    border-bottom: 1px solid #bec1c3;
}

.message {
    text-align: center;
}